<container>
  <row class="footer-menu">
    <columns class="footer-top">
      <row>
        <columns class="footer-top-left" large="3" small="3">
          <img src="assets/img/heb_files/heb-logo-blk.png" class="logo-black" />
          <!-- <img src="https://imgur.com/3dGdvTy.png" class="logo-black" /> -->
        </columns>
        <columns class="footer-top-left text-left" large="9" small="9">
          <h4>
            646 S Flores St, San Antonio, TX 78204<br />All rights reserved.
            2021
          </h4>
        </columns>
      </row>
    </columns>
  </row>
  <row class="footer-menu">
    <columns class="footer-bottom">
      <row>
        <columns large="6" small="6">
          <p>Get help</p>
        </columns>
        <columns large="6" small="6">
          <p>Privacy</p>
        </columns>
      </row>
      <row>
        <columns large="6" small="6">
          <p>View orders</p>
        </columns>
        <columns large="6" small="6">
          <p>Terms</p>
        </columns>
      </row>
    </columns>
  </row>
</container>
