<container>
  <row class="header header-top">
    <columns large="12" small="12" style="vertical-align: middle">
      <img
        src="assets/img/heb_files/heb-logo.png"
        class="logo-white float-center"
      />
      <!-- <img
        src="https://imgur.com/FIwk62b.png"
        class="logo-white float-center"
      /> -->
    </columns>
  </row>
  <row class="header">
    <columns large="12" small="12" style="vertical-align: middle">
      <p class="header-thanks text-center">Thanks for your order!</p>
    </columns>
  </row>
  <row class="header">
    <columns large="12" small="12" style="vertical-align: middle">
      <p class="header-order text-center">Order #HEB12803872677</p>
    </columns>
  </row>

  <row class="header header-bottom">
    <columns large="12" small="12">
      <row>
        <columns>
          <p class="order-info">
            Pickup on<br />Fri, Jul 30<br />11:30am - 12:00pm
          </p>
          <a href="#" class="button order-btn">View order</a>
        </columns>
      </row>
    </columns>
  </row>
</container>
